body {
  padding-top: 50px;
}
.container-ladaia {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}

.starter-template {
  padding: 40px 15px;
  text-align: right;
  margin-left: 160px;
  margin-top: 40px;
}

.title-ladaia {
	font-size: 50px;
}

.description-ladaia {
	font-size: 25px;
}

.img-ladaia {
   margin-top: -215px;
   margin-left: 495px;
}