body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: right;
  margin-right: 600px;
  margin-top: 40px;
}

.title-ladaia {
	font-size: 50px;
}

.description-ladaia {
	font-size: 25px;
}

.img-ladaia {
   margin-top: -215px;
   margin-left: 495px;
}